#Nuitka/Cython编译产物
*.pyd
*.pyi
*.c
*.cpp
*.build/
*.onefile-build/
*.dist/

#Byte-compiled/optimized/DLLfiles
__pycache__/
*.pyc
*.pyo
*.pyd

#Cextensions
*.so

#Distribution/packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#PyInstaller
#Usuallythesefilesarewrittenbyapythonscriptfromatemplate
#beforePyInstallerbuildstheexecutable.
*.manifest
*.spec

#Installerlogs
pip-log.txt
pip-delete-this-directory.txt

#Unittest/coveragereports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

#JupyterNotebook
.ipynb_checkpoints

#pyenv
.python-version

#celerybeatschedulefile
celerybeat-schedule

#dotenv
.env

#virtualenv
venv/
ENV/

#Spyderprojectsettings
.spyderproject
.spyproject

#Ropeprojectsettings
.ropeproject

#mkdocsdocumentation
/site

#mypy
.mypy_cache/